<div class="alert" style="background-color: {{ options.alert_color }};">
	<div class="icon_container">
		<i class="fa {{ options.alert_icon }} alert_icon" aria-hidden="true"></i>
		<p class="alert_text">{{ options.alert_text_small }}</p>
	</div>
</div>