{% if post.thumbnail.src %}
	<div class="page_heading_container">
		<img class="page_heading_image" style="background-image:url({{post.thumbnail.src}});" />
		<div class="page_heading_image_over"></div>
	</div>
{% endif %}
