<div class="global_cta">
	<div class="global_cta_inner">
		<h2>{{ options.global_cta_text }}</h2> <button class="hvr-bounce-to-top" onclick="window.location='{{ options.g_cta_button_link }}';">{{ options.g_cta_button_label }}</button>
	</div>
</div>
