{% extends "base.twig" %}

{# This is generally the search page: #}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-search" id="post-search">
			<section class="article-content">
				{% if post.page_title_on_off %}<h1 class="article-h1">{{ post.title }}</h1>{% endif %}
				<div class="article-body">

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}
