{% extends "base.twig" %}

{# This is generally the search page: #}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-search" id="post-search">
			<section class="article-content">
				<div class="article-body">
					<h1>{{ title }}</h1>
					{% for post in posts %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}

					{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
					<br />
					<h2>Search again</h2>
					<form role="search" method="get" id="searchform" action="{{site.url}}">
						<div class="row collapse">
							<div class="large-8 small-9 columns">
								<input type="text" value="" name="s" id="s" placeholder="{{ __('Search...', 'timber-foundation')|e }}">
								<button lable="submit" id="searchsubmit" value="&#xf002;" class="button postfix">submit</button>
							</div>
						</div>
					</form>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}
