
<div id="popup" class="popup">

	<div class="popup_content">
		<div class="close-contain">
			<button class="hvr-bounce-to-top" lable="x" onclick="kill_popup()">x</button>
		</div>
		<h2>THIS IS A POPUP!</h2>
	</div>

</div>
