
/******************
*
*
*	ALERTS
*
*
******************/

.alert {
	z-index: 9999999999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 150px;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
	opacity: 0.8;
}

.icon_container {
	width: 100%;
	height: 100%;
}

.alert_icon {
	width: 65px;
	margin-top: 65px;
	margin-left: 20px;
	color: white;
	font-family: "FontAwesome";
	font-size: 60px;
	text-align: center;
}

.alert_text {
	width: 110px;
	margin-top: 4px;
	color: white;
	font-size: 14px;
	text-align: center;
}
