/******************
*
*
*  Buttons and form fields
*
*
******************/

button {
	cursor: pointer;
  background-color: $color-blue--light;
  height: 52px;
  width: flex;
  color: $color-white;
  border-radius: 12px;
  font-size: 21px;
  text-transform: uppercase;
  border-width: 0;
  margin: 10px 0;
  min-width: 237px;
  text-align: center;
  font-weight: 500;
  outline: 0;
  &:hover {
    background-color: $color-navy--light;
    opacity: 0.75;
  }
  &:active {
    background-color: $color-navy--light;
    border-width: 0px;
    border-color: $color-navy--light;
  }
  & .icon {
    text-align: right;
    float: right;
    width: 10px;
    padding-right: 20px;
  }
}

.yellow-button{
	background-color: $color-yellow--mid;
	color: $color-blue--dark;
}
