/******************
*
*
*  Buttons and form fields
*
*
******************/

button {
	width: flex;
	min-width: 237px;
	height: 52px;
	margin: 10px 0;
	border-width: 0;
	border-radius: 12px;
	outline: 0;
	background-color: $color-blue--light;
	color: $color-white;
	font-size: 21px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	&::after{
		width: 100%;
		height: 0%;
		background-color: $color-navy--light;
	}
	&:hover {
		opacity: 0.75;
		&::after{
			height: 100%;
		}
	}
	&:active {
		border-width: 0px;
		border-color: $color-navy--light;
		background-color: $color-navy--light;
	}
	& .icon {
		width: 10px;
		padding-right: 20px;
		float: right;
		text-align: right;
	}
}

.yellow-button{
	background-color: $color-yellow--mid;
	color: $color-blue--dark;
}
