/******************
*
*
*	FONTS
*
*
******************/

@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
	src:	url('fonts/HighTide-Demo.ttf') format('truetype');
	font-family: 'HighTide';
}

@font-face {
	src:	url('fonts/Bariol_Regular.otf') format('opentype');
	font-family: 'Bariol Regular';
}

@font-face {
	src:	url('fonts/dripicons-v2.ttf') format('opentype');
	font-family: 'DripIcons';
}

/**** Styling: ****/

a,
h1,
h2,
h3,
h4,
h5,
li,
p {
	font-family: 'Bariol Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: capitalize;
}

.article-body {
	& h2 {
		margin-bottom: 20px;
	}
	& p{
		font-size: 20.4px;
		line-height: 1.2;
	}
	& ul {
		list-style: disc;
		& li {
			margin-bottom: 30px;
			color: $color-grey--dark;
		}
	}
	& ol {
		padding-left: 10%;
		list-style-position: outside;
		list-style-type: decimal;
		& li {
			margin-bottom: 30px;
			color: $color-grey--dark;
		}
	}
}

a {
	color: $color-navy--dark;
	font-size: 20px;
	text-decoration: none;
}

h1 {
	color: $color-blue--mid;
	font-size: 22px;
}

h2 {
	color: $color-blue--mid;
	font-size: 25px;
}

h3 {
	color: $color-blue--light;
	font-size: 18px;
}

h4 {
	color: $color-blue--light;
	font-size: 17px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	font-style: italic;
	font-weight: light;
}

.article-h1 {
	margin-bottom: 32px;
	color: $color-navy--dark;
	font-size: 32px;
	text-transform: uppercase;
}

p {
	margin-bottom: 32px;
	color: $color-navy--dark;
	font-size: 19px;
}

.news_items {
	& .item {
		& a {
			& h4 {
				color: $color-blue--mid;
			}
		}
		&:hover {
			& a {
				h4 {
					color: $color-navy--light;
				}
			}
		}
	}
}

.right_header_bottom {
	& p {
	 color: $color-grey--light;
	 font-size: 16px;
	}
}

.left_header_bottom {
	& p {
		color: $color-grey--light;
		font-size: 16px;
	}
}

.article-body {
	& p {
		color: $color-grey--dark;
		font-size: 20.4px;
		line-height: 1.2;
	}
}

.cta-focus {
	margin-right: 33px;
	color: $color-yellow--mid;
	font-family: "HighTide";
	font-size: 130px;
	line-height: 0.4;
	text-transform: capitalize;
}

.blue {
	color: $color-blue--dark;
}
