/******************
*
*
*	Footer and pre-footer stuff in here:
*
*
******************/

#footer {
	position: absolute;
	width: 100%;
	height: 329px;
	float: left;
	background-color: $pre-footer-bg-color;
}

.pre-footer {
	position: relative;
	width: 100%;
	height: 279px;
	margin: 0 auto;
	background-color: $color-white;
	&-contain {
		position: relative;
		width: $site-width;
		height: 100%;
		margin: 0 auto;
		padding-top: 35px;
		overflow: hidden;
		@include media('xxsmall') {
			width: 100%;
		}
		@include media('xsmall') {
			width: 100%;
		}
		@include media('xxlarge') {
			width: $site-width;
		}
	}
	& h2 {
		display: inline;
		margin-right: 15px;
		margin-bottom: 30px;
		color: $color-yellow--mid;
		font-size: 25px;
		text-transform: uppercase;
	}
	& a {
		color: $color-grey--dark;
		font-size: 18px;
	}
	& p {
		margin-top: 20px;
		color: $color-grey--dark;
		font-size: 17px;
		letter-spacing: 1.3px;
		line-height: 1.5;
	}
	& button {
		margin-top: 55px;
		background-color: $color-pink--mid;
	}
	&-left {
		width: 28%;
		height: 100%;
		float: left;
		color: $color-grey--dark;
		font-size: 18px;
		text-align: left;
		@include media('xxsmall') {
			width: 75%;
		}
		@include media('xsmall') {
			width: 75%;
			padding-left: 20px;
		}
		@include media('medium') {
			width: 28%;
		}
		@include media('xxlarge') {
			padding-left: 0px;
		}
	}
	&-center {
		width: 47%;
		padding-right: 43px;
		float: left;
		@include media('xxsmall') {
			display: none;
		}
		@include media('xsmall') {
			display: none;
			padding-left: 47px;
		}
		@include media('medium') {
			display: block;
			padding-left: 86px;
		}
		@include media('xxlarge') {
			display: block;
			padding-left: 86px;
		}
	}
	&-right {
		width: 25%;
		height: 100%;
		float: left;
		text-align: right;
		@include media('xxsmall') {
			display: none;
		}
		@include media('xsmall') {
			display: none;
		}
		@include media('medium') {
			display: block;
		}
		@include media('xxlarge') {
			display: block;
		}
		@include media('xxsmall') {
		}
		@include media('xsmall') {
			padding-right: 20px;
		}
		@include media('xxlarge') {
			padding-right: 0px;
		}
	}
}

.backtotop:hover > a > .fa,
.pre-footer-right > .backtotop:hover > a > h2 {
	color: $color-green--light;
}

.backtotop {
	& a {
		& .fa {
			display: inline;
			float: right;
		}
	}
}

.copyright {
	margin-top: 30px;
	margin-bottom: 5px;
	color: $color-grey--dark;
}

.footer {
	height: 54px;
	padding: 10px;
	background-color: $color-blue--mid;
}

.footer-contain {
	width: $site-width;
	margin: 0 auto;
	@include media('xxsmall') {
		width: 100%;
	}
	@include media('xsmall') {
		width: 100%;
	}
	@include media('xxlarge') {
		width: $site-width;
	}
}

.madeby {
	& p {
		color: $color-grey--dark;
	}
}

.footer_phone {
	margin-bottom: 5px;
	color: $color-grey--dark;
	& b {
		font-weight: 700;
	}
	& a{
		&:hover{
			color: $color-pink--mid;
		}
	}
}

.footer_email {
	color: $color-grey--dark;
	font-size: 18px;
	&:hover{
		color: $color-pink--mid;
	}
}

.footer_copywright {
	display: block;
	width: flex;
	margin-right: 193px;
	padding-top: 14px;
	float: left;
	& p {
		margin-bottom: 0px;
		color: $color-grey--light;
		font-size: 12px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}
}

.nav-footer {
	width: $footer-nav_width-adjust;
	width: auto;
	padding-top: 10px;
	float: right;
	@include media('xxsmall') {
		display: none;
	}
	@include media('xsmall') {
		display: none;
	}
	@include media('medium') {
		display: block;
	}
	@include media('xxlarge') {
		display: block;
	}
	& ul {
		margin: 0 auto;
		@include media('xxsmall') {
				width: 100%;
		}
		@include media('xsmall') {
				width: 100%;
		}
		@include media('medium') {
				width: auto;
		}
		@include media('xxlarge') {
				width: auto;
		}
		& li {
			display: inline;
			margin: 10px;
			&::after {
				margin-left: 20px;
				color: $color-grey--light;
				font-weight: 600;
				content: "|";
			}
			&:last-child {
				&::after {
					content: " ";
				}
			}
			& a {
				color: $color-grey--light;
				font-size: 12px;
				text-transform: uppercase;
				cursor: pointer;
				&:hover{
					color: $color-yellow--mid;
				}
			}
		}
	}
}
