/******************
*
*
*	Global Styling - liek page containers etc.
*
*
******************/

html {
	background-color: $color-blue--mid;
	font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: $color-white;
}

#content {
	height: auto;

}

.content-wrapper {
	height: auto;
	min-height: 50vh;
}

.main_page_wrap {
	overflow: hidden;
}

.article-content::after {
	height: 90px;
	content: "";
}

article {
	height: auto;
	min-height: 21vh;
	background-color: $color-white;
}

* {
	box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */

* html .clearfix {
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix {
	min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	font-size: 0;
	content: ".";
}

.clr {
	clear: both;
}

.page_heading_container {
	position: relative;
	width: 100%;
}

.page_heading_image {
	width: 96%;
	height: $page-header-height;
	margin: 30px;
	object-fit: cover;
	border-radius: 20px;
}

//content header images//

.page_heading_image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.page_heading_image_over {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(./images/blue_bird.svg), url("./images/content_clouds.svg");
	background-position: 18% 10%, -18% -35%;
	background-repeat: no-repeat;
	background-size: 66px, 250px;
}

#content {
	position: relative;
	overflow: hidden;
	@include media('xxsmall') {
		width: 100%;
	}
	@include media('xsmall') {
		width: 100%;
	}
	@include media('xxlarge') {
		width: 100%;
	}
}

.article-content {
	margin: 0 auto;
	padding: 74px 0px 0px 0px;
	@include media('xxsmall') {
		width: 100%;
	}
	@include media('xsmall') {
		width: 100%;
	}
	@include media('xlarge') {
		width: $site-width;
	}
}

.post-wrapper {
	margin: 0px;
}

.global_cta {
	width: 100%;
	height: 177px;
	@include media('xxsmall') {
		height: 241px;
	}
	@include media('xsmall') {
		height: 241px;
	}
	@include media('medium') {
		height: 177px;
	}
	@include gradient($color-pink--mid, $color-pink--dark);
	&_inner {
		@include media('xxsmall') {
			width: 100%;
			padding-top: 22px;
		}
		@include media('xsmall') {
			width: 100%;
			padding-top: 22px;
		}
		@include media('medium') {
			width: $site-width;
			padding-top: 78px;
		}
		margin: 0 auto;
		& h2 {
			float: left;
			color: $color-white;
			font-size: 35px;
			text-transform: uppercase;
			@include media('xxsmall') {
				width: 100%;
				margin-bottom: 56px;
				text-align: center;
			}
			@include media('xsmall') {
				width: 100%;
				margin-bottom: 56px;
				text-align: center;
			}
			@include media('medium') {
				width: 75%;
				margin-bottom: 0px;
				text-align: left;
			}
		}
		& button {
			margin: -9px 0;
			float: right;
			background-color: $color-yellow--mid;
		}//button
	}//_inner
}//global_cta


/* out work page */
hr{
	background-color: $color-yellow--mid!important;
	width: 740px!important;
	margin: 10px auto!important;
	margin-bottom: 20px;
}
.filter {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 14px;
	&_inner {
		&_top {
			& p{
				font-size: 30px;
				color: $color-blue--dark;
			}
		}
		@include media('xxsmall') {
			width: 100%;
		}
		@include media('xsmall') {
			width: 100%;
		}
		@include media('xlarge') {
			width: $site-width;
		}
		display: table;
		text-align: center;
		margin: 0 auto;
		& p{
			cursor: pointer;
			display: inline-block;
			justify-content: center;
			width: auto;
			margin-right: 20px;
			margin-bottom: 20px;
			float: none;
			text-align: center;
			text-transform: capitalize;
			transition: color .3s;
			&::after{
				content:"|";
				margin-left: 15px;
			}
			&:hover {
				color: $color-pink--mid;
				&::after{
					color: $color-blue--dark;
				}
			}
			&:active {
				color: $color-pink--mid;
			}
		}
		& p:last-child{
			&::after{
				content:"";
			}
		}
	}//inner
}//filter

$susy: (
	flow: rtl,
	columns: 12,
	gutters: .25,
	gutter-position: split,
);

.work_gallery {
	width: 100%;
	height: 411px;
	&_row {
		width: 100%;
		height: 411px;
		&_single {
			position: relative;
			height: 411px;
			margin-right: 31px;
			margin-bottom: 31px;
			float: left;
			background-color: $color-blue--mid;
			background-position: 50% 50%;
			background-size: cover;
			cursor: pointer;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			@include media('xxsmall') {
				width: 100%;
			}
			@include media('xsmall') {
				width: 100%;
			}
			@include media('medium') {
				width: 47%;
			}
			@include media('large') {
				width: 30.8%;
			}
			&::before {
				display: flex;
				position: absolute;
				align-items: center;
				justify-content: center;
				width: 0%;
				height: 100%;
				background-color: rgba(27,62,84,0.0);
				color: $color-white;
				content: " ";
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
			}
			&::after {
				display: block;
				position: absolute;
				top: 70%;
				left: 30px;
				width: 86%;
				height: auto;
				padding: 20px;
				background-color: $color-blue--mid;
				color: $color-white;
				font-family: 'Bariol Regular';
				font-size: 24px;
				font-weight: 600;
				line-height: 1.3;
				content: attr(data-title);
			}
			&:hover {
				background-position: 60% 50%;
				&::before {
					width: 100%;
					height: 100%;
					background-color: rgba(27,62,84,0.5);
				}
			}
		}//_single
		 .hidden{
			width: 0px;
			height: 0px;
			opacity: 0!important;
			margin-right: 0px;
			margin-bottom: 0px;
		}//hidden
	}//_row
}//work_gallery


/*	contact page	*/

.contact-header {
	width: 100%;
	height: 460px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	&-inner {
		width: 800px;
		height: 100%;
		margin: 0 auto;
		& h2 {
			color: $color-yellow--mid;
			font-family: 'HighTide';
			font-size: 75px;
			text-align: center;
		}
		i {
			width: 100%;
			height: 246px;
			margin: 0 auto;
			padding-top: 30px;
			color: $color-yellow--mid;
			font-size: 151px;
			text-align: center;
		}
		h3 {
			color: $color-yellow--mid;
			font-size: 45px;
			text-align: center;
		}
		.comment-icon {
			width: 100%;
		}
		&-left {
			width: 50%;
			height: 100%;
			float: left;
			&:hover {
				& i {
						color: $color-blue--dark;
				}
				& h3 {
						color: $color-blue--dark;
				}
			}
		}//-left
		&-right {
			width: 50%;
			height: 100%;
			float: left;
			&:hover {
				& i {
						color: $color-blue--dark;
				}
				& h3 {
						color: $color-blue--dark;
				}
			}
		}//-right
	}//-inner
}//contact-header

#sales {
	width: 847px;
	margin: 0 auto;
}

#support {
	width: 847px;
	margin: 0 auto;
}

.itemblock {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 15px;
	border: 0px $color-blue--mid solid;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.1) 0px 5px 10px;
	& h2 {
		margin-bottom: 20px;
	}
	& p {
		margin-bottom: 5px;
		font-size: 20px;
		font-weight: 300;
		text-align: left;
		&::before {
		}
	}
}//itemblock

.contact-block {
	width: 100%;
	height: auto;
	margin-bottom: 31px;
	padding: 20px;
	padding-bottom: 15px;
	border: 0px $color-blue--mid solid;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.1) 0px 5px 10px;
	& p {
		margin-bottom: 5px;
		font-size: 20px;
		font-weight: 300;
		text-align: left;
		&::before {
		}
	}
	& .phone {
		&::before {
			margin-right: 20px;
			margin-left: 5px;
			font-family: "FontAwesome";
			content: "\f095";
		}
	}
	& .address {
		&::before {
			margin-right: 20px;
			margin-left: 5px;
			font-family: "FontAwesome";
			content: "\f3c5";
		}
	}
	& .contact-form {
		&::before {
			margin-right: 20px;
			margin-left: 5px;
			font-family: "FontAwesome";
			content: "\f0a1";
		}
	}
	label {
		width: 100%!important;
	}
	input {
		width: 100%!important;
		padding: 10px;
		border-width: 0px;
		border-radius: 7px;
		background-color: $color-white;
	}
	textarea {
		width: 100%!important;
		padding: 10px;
		border-width: 0px;
		border-radius: 7px;
		background-color: $color-white;
	}
	input[type="submit"] {
		width: 250px!important; //overwrites 100% from the input css.
		background-color: $color-blue--light;
		color: $color-white;
		text-transform: uppercase;
		min-width: 237px;
		height: 52px;
		margin-top: 20px;
		font-size: 27px;
	}
}//contact-block


/* blog page */

.blog-container {
	width: 100%;
	height: 411px;
	&_single {
		height: 411px;
		margin-right: 31px;
		margin-bottom: 31px;
		float: left;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		cursor: pointer;
		transition: height 2s;
		@include media('xxsmall') {
			width: 100%;
		}
		@include media('xsmall') {
			width: 100%;
		}
		@include media('medium') {
			width: 47%;
		}
		@include media('large') {
			width: 31.8%;
			&:nth-child(3n){
				margin-right: 0px;
			}
		}
		&:hover {
			& .blog_img {
				background-size: 120%;
			}//blog_img
			& hr {
				width: 100%;
				background-color: $color-pink--mid;
				transition: width .3s ease-in-out;
			}
		}
		& .blog_img {
			width: 100%;
			height: 280px;
			background-position: center;
			background-size: 100%;
			transition: background-size .3s ease-in-out;
		}
		& h3 {
			min-height: 110px;
			padding: 30px;
			color: $color-grey--dark;
			font-size: 25px;
			font-weight: 300;
		}
		& hr {
			width: 0px;
		}
	}//_single
}//blog-container

/* mustard blocks */
.mustard {
	& .mustard_block {
		width: 100%;
		height: auto;
		min-height: 592px;
		&_inner {
			width: $site-width;
			height: auto;
			min-height: 592px;
			margin: 0 auto;
			overflow: auto;
			&_left {
				width: 43%;
				height: auto;
				min-height: 592px;
				float: left;
				background-position: center;
				background-size: cover;
			}//_left
			&_right {
				width: 56%;
				height: 100%;
				padding: 74px;
				padding-top: 96px;
				padding-bottom: 0px;
				float: right;
				& h2 {
					font-size: 34.4px;
				}
				& p {
					color: $color-grey--dark;
					font-size: 20.4px;
					line-height: 1.2;
				}
			}//_right
		}//_inner
		&:nth-child(odd) {
			background-color: $color-white!important;
		}//nth-child(odd)
		&:nth-child(even) {
			& .mustard_block_inner {
				&_left {
					float: right!important;
				}//_left
				&_right {
					padding-left: 0px;
					float: left!important;
					& h2 {
						color: $color-yellow--mid;
					}
					& p {
						color: $color-white;
					}
					& button {
						background-color: $color-pink--mid;
					}
				}//_right
			}//mustard_block_inner
		}//nth-child(even)
	}//mustard_block
}//mustard

/* work pages */

.article-content{
	padding: 10px;
	padding-top: 40px;
	& .client-deets{
		background-color: $color-white;
		width: 35%;
		margin-right: 5%;
		float: left;
		min-height: 500px;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -40px;
		& .logo{
			width: 100%;
			height: 73px;
			background-image: no-repeat;
			background-position: center;
			background-size: contain;
			margin-top: 30px;
			margin-bottom: 30px;
		}// logo
		& h2{
			text-align: center;
			color: $color-blue--dark;
			font-size: 30px;
			margin-bottom: 30px;
		}// h2
		& p{
			text-align: center;
			color: $color-blue--mid;
			font-size: 18px;
			text-transform: capitalize;
		}// p
	}//client-deets
	& .main-section{
		width: 60%;
		float: left;
		min-height: 460px;
	}//main-section
}//article-content

.work-gallery{
	width: 100%;
	height: 500px;
	&-single{
		width: 50%;
		height: 100%;
		float: left;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}//work-gallery
