/******************
*
*
*  Global Styling - liek page containers etc.
*
*
******************/

html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $color-white;
}

#content {
  height: auto;

}

.content-wrapper {
  height: auto;
  min-height: 50vh;
}

.main_page_wrap {
  overflow: hidden;
}

.article-content::after {
  content: "";
  height: 90px;
}

article {
  background-color: $color-white;
  min-height: 50vh;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */

* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

.page_heading_container {
  position: relative;
  width: 100%;
}

.page_heading_image {
  width: 96%;
  margin: 30px;
  height: $page-header-height;
  object-fit: cover;
  border-radius: 20px;
}

//content header images//

.page_heading_image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.page_heading_image_over {
  background-image: url(./images/blue_bird.svg), url("./images/content_clouds.svg");
  background-repeat: no-repeat;
  background-position: 18% 10%, -18% -35%;
  background-size: 66px, 250px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#content {
  //width: $site-width;
  //margin: 0 auto;
  overflow: hidden;
  position: relative;
	@include media('xxsmall'){
		width: 100%;
	}
	@include media('xsmall'){
		width: 100%;
	}
	@include media('xxlarge'){
		width: 100%;
	}
}

.article-content {
	margin: 0 auto;
  padding: 74px 0px 30px 30px;
	@include media('xxsmall'){
		width: 100%;
	}
	@include media('xsmall'){
		width: 100%;
	}
	@include media('xlarge'){
		width: $site-width;
	}
}

.post-wrapper {
  margin: 0px;
}

.global_cta{
	width: 100%;
	height: 177px;
	margin-top: 80px;
	@include media('xxsmall'){
		height: 241px;
	}
	@include media('xsmall'){
		height: 241px;
	}
	@include media('medium'){
		height: 177px;
	}
	@include gradient($color-pink--mid, $color-pink--dark);
	&_inner{
		@include media('xxsmall'){
			width: 100%;
			padding-top: 22px;
		}
		@include media('xsmall'){
			width: 100%;
			padding-top: 22px;
		}
		@include media('medium'){
			width: $site-width;
			padding-top: 78px;
		}
		margin: 0 auto;
		& h2{
			font-size: 35px;
			color: $color-white;
			text-transform: uppercase;
			float: left;
			@include media('xxsmall'){
				text-align: center;
				width: 100%;
				margin-bottom: 56px;
			}
			@include media('xsmall'){
				text-align: center;
				width: 100%;
				margin-bottom: 56px;
			}
			@include media('medium'){
				text-align: left;
				width: 75%;
				margin-bottom: 0px;
			}
		}
		& button{
			float: right;
			background-color: $color-yellow--mid;
			margin: -9px 0;
		}

	}
}


/* out work page */

.filter{
	width: 100%;
	height: auto;
	&_inner{
		@include media('xxsmall'){
			width: 100%;
		}
		@include media('xsmall'){
			width: 100%;
		}
		@include media('xlarge'){
			width: $site-width;
		}
		margin: 0 auto;
		& p{
			margin-right: 20px;
			float: left;
			width: auto;
			text-align: center;
			text-transform: capitalize;
			transition: color .3s;
			&:hover{
				color: $color-pink--mid;
			}
			&:active{
				color: $color-pink--mid;
			}
		}
	}
}

.work_gallery{
	width: 100%;
	height: 411px;
	&_row{
		height: 411px;
		width: 100%;
		&_single{
			cursor: pointer;
			background-color: $color-blue--mid;
			background-size: cover;
			background-position: center;
			height: 411px;
			width: 30%;
			margin-right: 20px;
			margin-bottom: 20px;
			float: left;
			cursor: pointer;
			@include media('xxsmall'){
				width: 100%;
			}
			@include media('xsmall'){
				width: 100%;
			}
			@include media('medium'){
				width: 47%;
			}
			@include media('large'){
				width: 30%;
				&:nth-child(3,3){
					margin-right: 0px;
				}
			}

			&::after{
				height: 100%;
				width: 100%;
				display: block;
				background-color: $color-white;
				transition: background-color 2s;
			}
			&:hover{
				&::after{
					background-color: $color-blue--mid;
					content: attr(data-title);
					color: $color-white;
					font-family: 'Bariol Regular';
					font-size: 20px;
					height: 100%;
					width: 100%;
					display: flex;
				  justify-content: center;
				  align-items: center;
				}
			}
		}
	}
}


/*  contact page  */

.contact-header{
	height: 460px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
	&-inner{
		width: 800px;
		height: 100%;
		margin: 0 auto;
		& h2{
			color: $color-yellow--mid;
			font-family: 'HighTide';
			font-size: 75px;
			text-align: center;
		}
		i{
			padding-top: 30px;
			width: 100%;
			height: 246px;
			font-size: 151px;
			margin: 0 auto;
			text-align: center;
			color: $color-white;
		}
		h3{
			font-size: 45px;
			text-align: center;
			color: $color-white;
		}
		.comment-icon{
			width: 100%;
		}
		&-left{
			width: 50%;
			height: 100%;
			float: left;
			&:hover{
				& i{
						color: $color-blue--mid;
				}
				& h3{
						color: $color-blue--mid;
				}
			}
		}
		&-right{
			width: 50%;
			height: 100%;
			float: left;
			&:hover{
				& i{
						color: $color-blue--mid;
				}
				& h3{
						color: $color-blue--mid;
				}
			}
		}
	}
}

#sales{
	width: 800px;
	margin: 0 auto;
}

#support{
	width: 800px;
	margin: 0 auto;
}

.itemblock{
	width: 100%;
	height: auto;
	padding: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-radius: 7px;
	background-color: $color-white;
	border: 2px $color-yellow--mid solid;
	& h2{
		margin-bottom: 20px;
	}
	& p{
		font-size: 20px;
		font-weight: 600;
		text-align: left;
		margin-bottom: 5px;
		&::before{
		}
	}
}

.contact-block{
	width: 100%;
	height: auto;
	padding: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-radius: 7px;
	background-color: $color-white;
	border: 2px $color-yellow--mid solid;
	& p{
		font-size: 20px;
		font-weight: 600;
		text-align: left;
		margin-bottom: 5px;
		&::before{
		}
	}
	& .phone{
		&::before{
			content: "\f095";
			margin-left: 5px;
			margin-right: 20px;
			font-family: "FontAwesome";
		}
	}
	& .address{
		&::before{
			content: "\f3c5";
			margin-left: 5px;
			margin-right: 20px;
			font-family: "FontAwesome";
		}
	}
	& .contact-form{
		&::before{
			content: "\f0a1";
			margin-left: 5px;
			margin-right: 20px;
			font-family: "FontAwesome";
		}
	}
	label{
		width: 100%!important;
	}
	input{
		width: 100%!important;
		padding: 10px;
		border-width: 0px;
		border-radius: 7px;
		background-color: $color-grey--light;
	}
	textarea{
		width: 100%!important;
		padding: 10px;
		border-width: 0px;
		border-radius: 7px;
		background-color: $color-grey--light;
	}
	input[type="submit"]{
		width: 250px;
	}
}
