/******************
*
*
*  Global page header
*
*   PLEASE USE THIS FORMAT:
*
*  .class{
*    -=includes=-
*    -=Display & Box Model=-
*    -=Colours=-
*    -=Text=-
*    -=Other=-
*   }
*
******************/

#content,
#main_header,
#pre-foot {
  transition: all 2s ease 0.5s;
  top: 0;
  position: relative;
}

#headerwrapper {
  position: relative;
}

.left_header {
  width: calc(#{$site-width} / 2 - #{$sidebar-width});
  float: left;
	height: 100%;
	@include media('xxsmall'){
		width: 100%;
		height: 50%;
	}
	@include media('xsmall'){
		width: 100%;
		height: 50%;
	}
	@include media('medium'){
		width: 25%;
		height: 100%;
	}
	@include media('xxlarge'){
		width: calc(#{$site-width} / 2 - #{$sidebar-width});
	}
}

.left_header_top {}

.left_header_bottom {}

.logo {
  float: left;
  margin: 0 auto;
  background-image: url("#{$logo}");
	background-size: 89.5%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: -2px 41px;
  width: 100%;
  padding: 20px;
	@include media('xxsmall'){
		background-size: 38.5%;
		background-position: center;
	}
	@include media('xsmall'){
		background-size: 53.5%;
		background-position: center;
	}
	@include media('small'){
		background-size: 41.5%;
		background-position: center;
	}
	@include media('medium'){
		background-size: 89.5%;
		background-position: -2px 41px;
	}
	@include media('large'){
		background-size: 89.5%;
		background-position: -2px 41px;
	}
	@include media('xlarge'){
		background-size: 89.5%;
		background-position: -2px 41px;
	}
	@include media('xxlarge'){
		background-size: 89.5%;
		background-position: -2px 41px;
	}
}

.right_header {
  float: right;
  text-align: right;
	@include media('xxsmall'){
		width: 100%;
		height: 50%;
		padding-top: 18px;
	}
	@include media('xsmall'){
		width: 100%;
		height: 50%;
		padding-top: 18px;
	}
	@include media('medium'){
		width: 75%;
		height: 100%;
		padding-top: 38px;
	}
	@include media('xxlarge'){
		width: 75%;
		padding-top: 38px;
	}
	& .right_header_top {
		padding-left: 172px;
		@include media('xxsmall'){
			padding-left: 0px;
			display: none;
		}
		@include media('xsmall'){
			padding-left: 0px;
			display: none;
		}
		@include media('small'){
			padding-left: 172px;
			display: block;
		}
		@include media('medium'){
			padding-left: 172px;
		}
		@include media('xxlarge'){
			padding-left: 172px;
		}
		& p{
			margin-top: 2px;
			padding-top: 8px;
			float: left;
			margin-left: 30px;
			text-transform: uppercase;
			color: $color-white;
			font-size: 17px;
			letter-spacing: 0.3px;
		}
		.soc{
			margin-left: 16px;
			float: left;
			height: 33px;
			width: 33px;
			border-radius: 50%;

		}
		.facebook{
			margin-left: 45px;//push group right.
			background-color: $color-yellow--mid;
			&::after{
				height:100%;
				width: 100%;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				align-items: center;
				content: "\f09a";
				color: $color-white;
				text-align: center;
				font-family: "fontawesome";
			}
		}
		.twitter{
			background-color: $color-blue--light;
			&::after{
				height:100%;
				width: 100%;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				align-items: center;
				content: "\f099";
				color: $color-white;
				text-align: center;
				font-family: "fontawesome";
			}
		}
		.instagrame{
			background-color: $color-pink--mid;
			&::after{
				height:100%;
				width: 100%;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				align-items: center;
				content: "\f16d";
				color: $color-white;
				text-align: center;
				font-family: "fontawesome";
			}
		}
		.search{
			background-color: $color-blue--grey;
			&::after{
				height:100%;
				width: 100%;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				align-items: center;
				content: "\f002";
				color: $color-white;
				text-align: center;
				font-family: "fontawesome";
			}
		}
	}

	.right_header_bottom {}
}


#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1{
	padding-top: 16px!important;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link{
	font-family: 'Bariol Regilar', sans-serif!important;
}

.header {
  height: flex;
}

.header_wrapper {
  height: 166px;
  background-color: $header-bg-colour;
  position: relative;
	@include media('xxsmall'){
		height: 120px;
	}
	@include media('xsmall'){
		height: 120px;
	}
	@include media('small'){
		height: 290px;
	}
	@include media('medium'){
		height: 191px;
	}
	@include media('xxlarge'){
		height: 166px;
	}
}

.header_inner {
  height: 100%;
  width: $site-width;
  margin: 0 auto;
	@include media('xxsmall'){
		width: 100%;
	}
	@include media('xsmall'){
		width: 100%;
	}
	@include media('xxlarge'){
		width: $site-width;
	}
}
//header images//
.header_wrapper {
  //background-image:url(./images/green_bird-01.svg),url(./images/cloud_right.svg),url(./images/cloud_left.svg);
  background-repeat: no-repeat;
  background-position: 65% 50%, 70% 30%, 30% 30%;
  background-size: 50px, 180px, 130px;
}
/*   Pre Header Quicklinks   */
.header_quicklinks_wrap {
  height: 90px;
  width: 100%;
  background-color: $color-green--mid;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease 0.5s;
}

.close_quicklinks {
  display: inline;
  min-width: 0;
}

.shadow {
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.header_quicklinks_contain {
  width: $site-width;
  margin: 0 auto;
	@include media('xxsmall'){
		width: 100%;
	}
	@include media('xxlarge'){
		width: $site-width;
	}
}

.quicklinks-ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0 0;
  display: inline-block;
}

.quicklinks-li {
  float: left;
}

.heading_image{
	height: 460px;
	width: 100%;
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	& h2{
		color: $color-yellow--mid;
		font-family: "HighTide";
		font-size: 158px;
		text-align: center;
	}
	& h3{
		color: $color-white;
		font-family: "Bariol Regular";
		font-size: 42px;
		margin-top: 64px;
		text-transform: uppercase;
		text-align: center;
	}
}

/* right contact */

.right-contact{
	width: 49px;
	background-color: $color-blue--mid;
	height: auto;
	position: fixed;
	right: 0px;
	top: 476px;
	opacity: 0.8;
	z-index: 999999999;
	padding-left: 5px;
	padding-right: 5px;
	&_single{
		border-bottom: 2px $color-white solid;
		&:last-child{
			border-bottom: 0px;
		}
	}
	&_phone{
		width: 100%;
		height: 49px;
		&::before{
			content: "\f095";
			font-size: 20px;
			color: $color-yellow--mid;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'FontAwesome';
			padding-top: 13px;
		}
	}
	&_email{
		width: 100%;
		height: 49px;
		&::before{
			content: "\f0e0";
			font-size: 20px;
			color: $color-yellow--mid;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'FontAwesome';
			padding-top: 13px;
		}
	}
}
