/******************
*
*
*	Homepage only styling
*
*
******************/

.latest_news_events_row {
	width: $site-width;
	height: $news-and-events-height;
	background-color: $news-and-events-bg-colour;
}

.news_events_home_block {
	& h1 {
		margin-bottom: 20px;
		font-size: 30px;
		text-align: center;
	}
	& a {
		margin: 0 auto;
		text-align: center;
	}
}

.view_all {
	width: 100%;
	text-align: center;
	& a {
		font-size: $font-size-for-viewall;
	}
}

.home_events {
	width: calc(#{$site-width}/2);
	height: 100%;
	padding: 40px;
	float: $which_side_for_events;
	background-color: $events-bg-colour;
	& h1 {
		margin-bottom: 20px;
		font-size: 30px;
		text-align: center;
	}
	& a {
		margin: 0 auto;
		text-align: center;
	}
}

.home_news {
	width: calc(#{$site-width}/2);
	height: 100%;
	padding: 40px;
	float: left;
	background-color: $news-bg-colour;
}

.home_news_date {
	margin-top: 6px;
	margin-bottom: 6px;
	color: $home_news_date_colour;
	font-size: $home_news_date_font_size;
	text-align: $home_news_date_align;
}

.event_date {
	text-align: center;
}

.home_news_single {
	margin: 10px;
	padding: 5px;
	text-align: center;
	& .event_image {
		margin-top: 20px;
		margin-bottom: 20px;
		color: $color-green--mid;
		font-family: FontAwesome;
		font-size: 70px;
		text-align: center;
	}
	& h2 {
		margin-top: 20px;
		margin-bottom: 30px;
		color: $home_news_title_colour;
		font-size: $home_news_title_font_size;
		text-align: $home_news_title_align;
	}
	& a {
		h2 {
			margin-top: 20px;
			margin-bottom: 30px;
			color: $home_news_title_colour;
			font-size: $home_news_title_font_size;
			text-align: $home_news_title_align;
		}
		& p {
			color: $home_news_content_colour;
			font-size: $home_news_content_font_size;
			text-align: $home_news_content_align;
		}
	}
	& .read_more {
		text-align: $home_news_read_align;
		& a {
			color: $home_news_read_colour;
			font-size: $home_news_read_font_size;
		}
	}
}

.homenewsimg {
	position: relative;
	width: 277px;
	height: 174px;
	margin: 0 auto;
	border-radius: 20px;
	background-size: cover;
}

.homenewsimg_blank {
	position: relative;
	width: 277px;
	height: 174px;
	margin: 0 auto;
	border-radius: 20px;
	background-color: $color-navy--light;
	background-image: url($logo);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 150px;
}

.news_date_container {
	position: absolute;
	bottom: 0;
	width: 60%;
	padding: 5px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 20px;
	background-color: $color-green--dark;
	opacity: 0.9;
}

/* CTA 1	 */

.cta_one {
	width: 100%;
	height: 554px;
	padding-top: 159px;
	background-color: $color-white;
	background-image: url(images/cta1-left.png), url(images/cta1-left-back.png), url(images/cta1-right.png);
	background-position: 0% 100%, -2% 160%, 100% -49%;
	background-repeat: no-repeat;
	.cta_one_inner {
		-ms-flex-pack: center;
		-ms-flex-align: center;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 661px;
		height: 100px;
		margin: 0 auto;
		overflow:visible;
		& h2 {
			color: $color-grey--mid;
			font-family: 'Bariol Regular', sans-serif;
			font-size: 32px;
			text-indent: 151px;
			text-transform: uppercase;
		}
	}
}

/* CTA 2	 */

.cta_two {
	width: 100%;
	height: 579px;
	padding-top: 159px;
	background-color: $color-white;
	background-image: url(images/cta2-left.png);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	.cta_two_inner {
		-ms-flex-pack: center;
		-ms-flex-align: center;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 661px;
		height: 100px;
		float: right;
		overflow:visible;
		& h2 {
			color: $color-grey--mid;
			font-family: 'Bariol Regular', sans-serif;
			font-size: 32px;
			text-indent: 151px;
			text-transform: uppercase;
		}
		& button {
			float: right;
		}
	}
}

/* find out more */
.findoutmore {
	width: 100%;
	height: auto;
	min-height: 533px;
	background-color: $color-blue--mid;
	&_inner {
		height: 100%;
		margin: 0 auto;
		@include media('xxsmall') {
			width: 100%;
		}
		@include media('xsmall') {
			width: 100%;
		}
		@include media('small') {
			width: 100%;
		}
		@include media('xxlarge') {
			width: $site-width;
		}
		&_left {
			height: 100%;
			padding-top: 100px;
			float: left;
			@include media('xxsmall') {
				width: 100%;
				padding-left: 0px;
			}
			@include media('xsmall') {
				width: 100%;
				padding-top: 80px;
				padding-right: 113px;
				padding-left: 80px;
			}
			@include media('medium') {
				width: 57%;
				padding-top: 100px;
				padding-right: 68px;
				padding-left: 80px;
			}
			@include media('xxlarge') {
				width: 57%;
				padding-top: 100px;
				padding-right: 224px;
				padding-left: 0px;
			}
			& h2 {
				margin-bottom: 30px;
				color: $color-yellow--mid;
				font-size: 35px;
				text-transform: uppercase;
				@include media('xxsmall') {
					text-align: center;
				}
				@include media('xsmall') {
					text-align: center;
				}
				@include media('medium') {
					text-align: left;
				}
				@include media('xxlarge') {
					text-align: left;
				}
			}
			& p {
				color: $color-white;
				font-size: 24px;
				line-height: 1.24;
				@include media('xxsmall') {
					text-align: center;
				}
				@include media('xsmall') {
					text-align: center;
				}
				@include media('medium') {
					text-align: left;
				}
				@include media('xxlarge') {
					text-align: left;
				}
			}
			& button {
				margin-top: 28px;
			}
		}
		&_right {
			display: block;
			width: 43%;
			height: 533px;
			float: left;
			background-color: $color-white;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include media('xxsmall') {
				display: none;
			}
			@include media('xsmall') {
				display: none;
			}
			@include media('medium') {
				display: block;
			}
			@include media('xxlarge') {
				display: block;
			}
		}
	}
}

/* Tiles */

.tiles {
	display: block;
	width: 100%;
	height: auto;
	overflow: auto;
	&_inner {
		height: 100%;
		&_row {
			height: 50%;
			&_tile {
				width: 20%;
				height: 318px;
				float: left;
				overflow: hidden;
				& .tile {
					width: 100%;
					height: 318px;
					background-position: center;
					background-size: cover;
					&:hover {
						& figcaption {
							-webkit-transform: rotateX(0deg);
							transform: rotateX(0deg);
							opacity: 1;
						}
					}
					& figcaption {
						-webkit-transform-origin: 50% -50%;
						-ms-transform-origin: 50% -50%;
						-webkit-transform: rotateX(-90deg);
						transform: rotateX(-90deg);
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						transform-origin: 50% -50%;
						background-color: $color-blue--mid;
						opacity: 0;
						transition: all .3s;
						& h3 {
							color: $color-white;
							text-align: center;
						}
						& p {
							padding: 30px;
							line-height: 1.3;
							font-weight: 600;
							font-size: 22px;
							color: $color-white;
							text-align: center;
						}
					}
				}//tile
				&:nth-child(2) {
					figcaption {
						-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
						opacity: 1;
						background-color: $color-blue--light;
						transition: all .3s;
						-webkit-transform-style: preserve-3d;

						&:hover {
							-webkit-backface-visibility: hidden;
							opacity: 0;

						}
					}
				}
				&:nth-child(4) {
					figcaption {
						-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
						opacity: 1;
						background-color: $color-yellow--mid;
						transition: all .3s;
						-webkit-transform-style: preserve-3d;

						&:hover {
							-webkit-backface-visibility: hidden;
							opacity: 0;

						}
					}
				}
				&:nth-child(6) {
					figcaption {
						-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
						opacity: 1;
						background-color: $color-pink--mid;
						transition: all .3s;
						-webkit-transform-style: preserve-3d;

						&:hover {
							-webkit-backface-visibility: hidden;
							opacity: 0;

						}
					}
				}
				&:nth-child(8) {
					figcaption {
						-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
						opacity: 1;
						background-color: $color-grey--mid;
						transition: all .3s;
						-webkit-transform-style: preserve-3d;

						&:hover {
							-webkit-backface-visibility: hidden;
							opacity: 0;

						}
					}
				}
				&:nth-child(10) {
					figcaption {
						-webkit-transform: rotateX(0deg);
						transform: rotateX(0deg);
						opacity: 1;
						background-color: $color-blue--mid;
						transition: all .3s;
						-webkit-transform-style: preserve-3d;

						&:hover {
							-webkit-backface-visibility: hidden;
							opacity: 0;

						}
					}
				}
			}//_tile
		}
	}
}

/*Different tile hovers */
.tiles_inner_row_tile {
	&:hover {
		& .tile_hov_flip {
			transform: rotateY(-180deg);
		}
	}
	.tile_hov {
		&_fade {
			&:hover {
				&::after {
					width: 100%;
					height: 100%;
					background-color: #000000;
					content: attr( data-desc );
					opacity: 1;
				}
			}
		}
		&_flip {
			transition: transform .3s ease-in-out;
			&:hover {
				&::after {
					width: 100%;
					height: 100%;
					transform: rotateY(-180deg);
					color: white;
					text-align: center;
					content: attr( data-desc );
					transition-delay: .15s;
				}
			}
		}
	}
}


/* Testimonials */

.testimonials {
	width: 100%;
	background-color: $color-yellow--mid;
	@include media('xxsmall') {
		height: 363px;
	}
	@include media('xsmall') {
		height: 363px;
	}
	@include media('medium') {
		height: 303px;
	}
	@include media('xxlarge') {
		height: 303px;
	}
	&_inner {
		width: $site-width;
		height: 100%;
		margin: 0 auto;
		@include media('xxsmall') {
			width: 100%;
		}
		@include media('xsmall') {
			width: 100%;
		}
		@include media('xxlarge') {
			width: $site-width;
		}
		&_left {
			height: 100%;
			float: left;
			@include media('xxsmall') {
				width:100%;
				height: 40%;
				padding-top: 58px;
			}
			@include media('xsmall') {
				width:100%;
				height: 40%;
				padding-top: 58px;
			}
			@include media('medium') {
				width:40%;
				height: 100%;
				padding-top: 128px;
			}
			@include media('xxlarge') {
				width:40%;
				height: 100%;
				padding-top: 128px;
			}
			& span {
				-ms-flex-pack: center;
				-ms-flex-align: center;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 143px;
				@include media('xxsmall') {
					font-size: 113px;
				}
				@include media('xsmall') {
					font-size: 113px;
				}
				@include media('xxlarge') {
					font-size: 143px;
				}
			}
		}
		&_right {
			float: left;
			@include media('xxsmall') {
				width: 100%;
				height: 60%;
				margin-bottom: 12px;
				padding-top: 53px;
				padding-right: 20px;
				padding-left: 20px;
			}
			@include media('xsmall') {
				width: 100%;
				height: 60%;
				margin-bottom: 12px;
				padding-top: 53px;
				padding-right: 20px;
				padding-left: 20px;
			}
			@include media('medium') {
				width: 60%;
				height: 100%;
				margin-bottom: 32px;
				padding-top: 73px;
				padding-right: 0px;
				padding-left: 53px;
			}
			@include media('xxlarge') {
				width: 60%;
				height: 100%;
				margin-bottom: 32px;
				padding-top: 73px;
				padding-right: 0px;
				padding-left: 53px;
			}
			& p {
				color: #163244;
				font-family: 'Muli';
				font-size: 24px;
				letter-spacing: -0.4px;
				line-height: 1.2;
				@include media('xxsmall') {
					font-size: 18px;
					text-align: center;
				}
				@include media('xsmall') {
					font-size: 18px;
					text-align: center;
				}
				@include media('medium') {
					font-size: 24px;
					text-align: left;
				}
				@include media('xxlarge') {
					font-size: 24px;
					text-align: left;
				}
			}
			& .author {
				color: $color-white;
				font-size: 17px;
				font-size: 22.8px;
				text-transform: uppercase;
			}
		}
	}
}

.inner_shadow {
	-moz-box-shadow:		inset 0 0 100px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.7);
	box-shadow:				 inset 0 0 100px rgba(0,0,0,0.7);
}
