/******************
*
*
*	Footer quicklinks
*
*
******************/

.quicklinks_container {
	width: 100%;
	height: $quicklinks-height;
	background-color: $color-blue--mid;
}

.quicklinks_inner {
	width: 100%;
	margin: 0 auto;
	background-color: $color-blue--mid;
	@include media('xxsmall'){
		height: calc( 240px * 2 );
	}
	@include media('xsmall'){
		height: calc( 240px * 2 );
	}
	@include media('medium'){
		height: 320px;
	}
	@include media('xxlarge'){
		height: 320px;
	}
	.quicklink_single:nth-child(even){
		background-color: $color-blue--dark;
	}
	& .quicklink_single{
		float: left;
		//background-image: url(images/logo.png);
    background-position: 50% 31%;
    background-repeat: no-repeat;
    background-size: 65%;
		cursor: pointer;
		@include media('xxsmall'){
			width: 33.3%!important;
			height: 240px;
		}
		@include media('xsmall'){
			width: 33.3%!important;
			height: 240px;
		}
		@include media('medium'){
			width: 20%!important;
			height: 320px;
		}
		@include media('xxlarge'){
			width: 20%!important;
			height: 320px;
		}
		& .quicklink_item {
			background-size: cover;
			opacity: 1;
			transition: height .3s;
			@include media('xxsmall'){
				height: 178.5px;
			}
			@include media('xsmall'){
				height: 178.5px;
			}
			@include media('xlarge'){
				height: 259.5px;
			}
			@include media('xxlarge'){
				height: 251.5px;
			}
			&:hover {
				opacity: 1;
			}
		}
		& .quicklink_title{
			width: 100%;
			transition: height .3s;
			@include media('xxsmall'){
				height: 67.19px;
			}
			@include media('xsmall'){
				height: 67.19px;
			}
			@include media('xlarge'){
				height: 67.19px;
			}
			@include media('xxlarge'){
				height: 67.19px;
			}
			& a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				margin-top: 0px;
				font-size: 24px;
			}
			& h2 {
				position: absolute;
				font-family: 'Line Icons';
				color: $color-yellow--mid;
				text-align: center;
				margin-top: 0px;
				font-size: 0px;
				opacity: 0;
				transition: all .3s;
			}
		}
		& .quicklink_item-button {
			height: 100%;
			height: $quicklinks-button-height;
			margin: 0 10px;
			margin-top: 25px;
			float: left;
			border-width: 2px;
			border-style: solid;
			border-radius: 10px;
			border-color: $color-blue--mid;
			background-color: $color-blue--mid;
			background-size: cover;
			text-align: center;
			& a {
				color: $color-green--light;
			}
		}
		& a{
			color: $color-white;
			text-align: center;
			text-transform: uppercase;
		}

		&:nth-child(1){
			border-bottom: 0px;
			transition: border-bottom .3s;
			&:hover{
			border-bottom: 9px solid $color-pink--mid;
			}
		}
		&:nth-child(2){
			border-bottom: 0px;
			transition: border-bottom .3s;
			&:hover{
			border-bottom: 9px solid $color-yellow--mid;
			}
		}
		&:nth-child(3){
			border-bottom: 0px;
			transition: border-bottom .3s;
			&:hover{
			border-bottom: 9px solid $color-blue--light;
			}
		}
		&:nth-child(4){
			border-bottom: 0px;
			transition: border-bottom .3s;
			&:hover{
			border-bottom: 9px solid $color-blue--grey;
			}
		}
		&:nth-child(5){
			border-bottom: 0px;
			transition: border-bottom .3s;
			&:hover{
			border-bottom: 9px solid $color-yellow--mid;
			}
		}
		&:hover{
			& .quicklink_item {
				height: 0px;
			}
			& .quicklink_title{
				height: 320px;
				& a{
					padding-top: 80px;
				}
				& h2{
					margin-top: 30px;
					margin-left: 5%;
					font-size: 150px;
					opacity: 1;
				}
			} //HOVER FOR QUICKLINKS..........
		}
	}
}

.quicklink_item-button_a {
	color: white;
	&:hover{
		& .quicklink_item-button {
			border-color: $color-navy--dark;
			background-color: $color-navy--light;
			opacity: 0.75;
			& .quicklink_button_left {
				background-color: $color-navy--dark;
			}
		}
	}
}

.quicklink_button {
	position: relative;
	text-align: left;
	& p {
		margin-top: 20px;
		color: white;
		font-size: 16px;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
	}
	& .fa {
		width: 50px;
		margin-top: 10px;
		color: white;
		font-size: 30px;
		text-align: center;
	}
}

.quicklink_button_left {
	display: inline;
	width: 30%;
	height: 80%;
	margin: 4%;
	padding: 10px;
	float: left;
	border-radius: 100%;
	background-color: $color-green--dark;
}

.quicklink_button_right {
	display: inline;
	width: 60%;
	float: right;
}
