/******************
*
*
*	Sidebar settings;
*
*
******************/

.content-wrapper {
	width: calc(100% - $sidebar-width);
}

.sidebar {
	position: relative;
	width: $sidebar-width;
	height: $sidebar-height;
	margin-bottom: -900%;
	padding-bottom: 900%;
	float: $sidebar-side;
	background-color: $sidebar-bg;
	& h2 {
		color: $sidebar-title-color;
		font-size: $sidebar-title-size;
		text-align: $sidebar-title-align;
	}
	& .side-title {
		height: 60px;
		background-color: $sidebar-title-bg;
		& h2 {
			padding-top: 15px;
		}
	}
}

.menu {
	padding-top: calc(#{$sidebar_item_height} / 2);
	background-color: $color-blue--light;
	& .menu-item {
		height: $sidebar_item_height;
		padding: 20px;
		background-color: $sidebar-bg;
		text-align: $sidebar-text-align;
		&:hover{
			border-radius: 10px;
			background-color: $sidebar-bg-hover;
			&:after {
				display: inline-block;
				padding-top: 34px;
				float: right;
				transform: translateY(-37px);
				color: $color-navy--dark;
				font-family: FontAwesome;
				font-size: 30px;
				content: "\f0a9";
			}
		}
		& a {
			justify-content: $sidebar-text-align;
			text-align: $sidebar-text-align;
		}

	}
	& .current-menu-item{
		border-radius: 10px;
		background-color: $sidebar-bg-hover!important;
		&:after {
			display: inline-block;
			padding-top: 34px;
			float: right;
			transform: translateY(-37px);
			color: $color-navy--dark;
			font-family: FontAwesome;
			font-size: 30px;
			content: "\f0a9";
		}
		& a {
			color: $sidebar-text-hover;
		}
	}
	& li{
		width: 100%;
		& a {
			color: $sidebar-text;
		}
		&:hover{
			& a{
				color: $sidebar-text-hover;
			}
		}
	}
}
