body.login {
	background: #e0a812;
	background: -moz-linear-gradient(-45deg, #e0a812 8%, #e10586 50%, #1b3e54 91%);
	background: -webkit-linear-gradient(-45deg, #e0a812 8%,#e10586 50%,#1b3e54 91%);
	background: linear-gradient(135deg, #e0a812 8%,#e10586 50%,#1b3e54 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a812', endColorstr='#1b3e54',GradientType=1 );
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login form {
background: rgba(255,255,255,0.2);
border-radius:10px;
}
.login label {
color: #FFFFFF;

}

.wp-core-ui .button-primary{
	background: #dcac00;
	border-color: #ddb000 #ddb000 #ddb000;
	box-shadow: 0 1px 0 #ddb000;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #ddb000, 1px 0 1px #ddb000, 0 1px 1px #ddb000, -1px 0 1px #ddb000;
}

.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #ddb000;
    text-align: center;
}
