<div class="cta_one">
	<div class="cta_one_inner">
		<h2>looking to build an exceptional<br /> <span class="cta-focus">Responsive</span>  website?</h2>
	</div>
	<div class="cta_one_inner">
		<button>explore</button>
	</div>
</div>
