<div id="ctaPin" class="cta_one">
	<div class="cta_one_inner">
		{{ post.get_field('cta_1_text') }}
	</div>
	<div class="cta_one_inner">
		<button class="hvr-bounce-to-top" onclick="window.location='{{ post.get_field('cta_1_button_link') }}';">{{ post.get_field('cta_1_button_text') }}</button>
		<pre>
			{{ dump(post.get_field()) }}
		</pre>
	</div>
</div>
