<div class="cta_two">
	<div class="cta_two_inner">
		<h2>Multi Academy Trust<br /> <span class="cta-focus">Branding</span>
		<br/> & website service</h2>
	</div>
	<div class="cta_two_inner">
		<button class="hvr-bounce-to-top">explore</button>
	</div>
</div>
