<div class="cta_two">
	<div class="cta_two_inner">
		{{ post.get_field('cta_2_text') }}
	</div>
	<div class="cta_two_inner">
		<button class="hvr-bounce-to-top" onclick="window.location='{{ post.get_field('cta_2_button_link') }}';">{{ post.get_field('cta_2_button_text') }}</button>
		<pre>
			{{ dump(post.get_field('cta_2_button_text')) }}
		</pre>
	</div>
</div>
