<div class="findoutmore">
	<div class="findoutmore_inner">
		<div class="findoutmore_inner_left">
			<h2>extraordinary SCHOOL PHOTOGRAPHY</h2>
			<p>Our school photography experts capture your school’s spirit from beautiful school grounds to happy students. Our award-winning, experienced school photographers provide imaginative and inspirational images which
will strengthen your USP.</p>
			<button class="yellow-button">book your photoshoot today</button>
		</div>
		<div class="findoutmore_inner_right" data-bg="{{ site.theme.link }}/images/temp.png">

		</div>
	</div>
</div>
