<div class="findoutmore">
	<div class="findoutmore_inner">
		<div class="findoutmore_inner_left">
			<h2>School Prospectus Design</h2>
			<p>
				Our talent lies in truly understanding the individuality of your school, and then producing innovative ways to communicate this to parents via photography, typography, and design. Delivering a fantastic final school prospectus you will be proud of.
			</p>
			<button class="yellow-button">find out more</button>
		</div>
		<div class="findoutmore_inner_right" data-bg="{{ site.theme.link }}/images/temp.png">

		</div>
	</div>
</div>
