
<div class="latest_news_events_row">
	<div class="home_events">
		{% include "/partial/home_latest_events_block.twig" %}
	</div>
	<div class="home_news">
		{% include "/partial/home_latest_news_block.twig" %}
	</div>
</div>