<div class="pre-footer-left">
  <h2>Connect with us</h2>
  <p>{{ options.school_address }}</p>
  <p class="footer_phone">Telephone: {{ options.school_phone }}</p>
  <p><a href="mailto:{{ options.school_email }}" class="footer_email">{{ options.school_email }}</a></p>
</div>
<div class="pre-footer-center">
	<h2>About Mustard</h2>
	<p>The Mustard Agency is a creative branding and design agency with expertise in marketing and all things digital. Here at Mustard we don’t leave anything to chance. To deliver the very best for your business, our teams are made up of the very best. We love what
we do and work hard to ensure that you love what we do, too!</p>
</div>
<div class="pre-footer-right">
	<button>Contact us</button>

	<svg width="461px" height="130px" viewBox="0 0 461 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<desc>Created with Sketch.</desc>
			<defs></defs>
			<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Artboard" transform="translate(-1148.000000, -4563.000000)" fill="#1b3647">
							<g id="Inner-Page" transform="translate(-20.000000, -272.000000)">
									<g id="Footer" transform="translate(0.000000, 4659.000000)">
											<polygon id="Rectangle-1-copy-7" points="1280.93594 209.699632 1710.98102 209.699632 1710.98047 338.999968 1158.92973 338.999968"></polygon>
									</g>
							</g>
					</g>
			</g>
	</svg>

</div>
